<h2>Documente emise - Incasari</h2>

<p-card>
  <button
    pButton
    class="p-button-sm"
    label="Incasare"
    icon="pi pi-plus"
    routerLink="/incasari-plati"
  >
  </button>

  <p-table [columns]="cols" id="myTable" [scrollable]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align: center; height: 80px">Este prima ta incasare.
          <br>
          <button pButton class="p-button-sm" label="Incasare" icon="pi pi-plus" routerLink="/incasari-plati"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
