<h2>Documente emise - Inventar</h2>

<p-card>
  <button
    pButton
    type="button"
    class="p-button-sm"
    label="Inventar"
    icon="pi pi-plus"
    routerLink="/tranzacti-pe-stoc/inventar"
  >
  </button>

  <p-table [columns]="cols" id="myTable" [scrollable]="true" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template class="tabel-body" pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align: center; height: 80px">Nu exista documente emise.
          <br>
<!--          <button-->
<!--            pButton-->
<!--            type="button"-->
<!--            class="p-button-sm"-->
<!--            label="Inventar"-->
<!--            icon="pi pi-plus"-->
<!--            routerLink="/tranzacti-pe-stoc/inventar"-->
<!--          ></button>-->
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
