<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary float-right m-2"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  (click)="addClick()"
  data-backdrop="static"
  data-keyboard="false"
>Adauga produs/serviciu</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-produse-servicii [prodServ]="prodServ" *ngIf="ActivateAddEditProdServComp"></app-add-edit-produse-servicii>
      </div>
    </div>
  </div>
</div>


<!--Tabel-->
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Produs/Serviciu Id</th>
      <th>Denumire produs/serviciu</th>
      <th>Tip</th>
      <th>Pret standard</th>
      <th>U.M.</th>
      <th>Moneda</th>
      <th>Actiuni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of ProdServList">
      <td>{{dataItem.produsServiciuId}}</td>
      <td>{{dataItem.denumireProdusServiciu}}</td>
      <td>{{dataItem.tip}}</td>
      <td>{{dataItem.pretStandard}}</td>
      <td>{{dataItem.um}}</td>
      <td>{{dataItem.moneda}}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editClick(dataItem)"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteClick(dataItem)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
